.female {
    fill: coral;
}

.male {
    fill: cornflowerblue;
}

rect {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

rect.hoverbox {
    opacity: 0;
}

.bar-experience {
    fill: #ec7014;
}
.bar-throwing_skill {
    fill: #807dba;
}
.bar-fitness {
    fill: #78c679;
}
.bar-height {
    fill: #4eb3d3;
}