.header-controls {
    margin: 15px 15px 0 15px;
}

.team-column {
    margin: 0px 0px 0px 0px;
    padding: 2px;
    border-radius: .1rem;
    opacity: 0.5 inherit;
}

.bg-highlight {
    background-color: rgba(109, 53, 81, 0.2);
}

.summary-container {
    margin: 0px 0px;
}

.player-card {
    zoom: 1.0;
    -moz-transform: scale(1.0);
    padding: 0.7rem;
    opacity: 2;
    border-radius: .5rem;
}

.male {
    background-color: lightcyan;
}

.female {
    background-color: lavenderblush;
}

.summary-male {
    color: cornflowerblue;
}

.summary-female {
    color: coral;
}

.player-name {
    font-size: 12pt;
}

.home-team {
    font-size: 11pt;
}

.hidden {
    display: none;
}

.skill {
    padding: 0;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    /* padding: .375rem .75rem; */
    font-size: 0.8rem;
    /* line-height: 1.5; */
    border-radius: .5rem;
}

.skill:hover {
    cursor: pointer;
}

/* .skill-experience {
    border-color: #007bff;
}

.skill-throwing {
    border-color: #ffc107;
}

.skill-fitness {
    border-color: #17a2b8;
}

.skill-height {
    border-color: #6c757d;
} */

.skill-experience-value-0 {
    background-color: #ffffd4;
}
.skill-experience-value-1 {
    background-color: #fee391;
}
.skill-experience-value-2 {
    background-color: #fec44f;
}
.skill-experience-value-3 {
    background-color: #fe9929;
}
.skill-experience-value-4 {
    background-color: #ec7014;
}
.skill-experience-value-5 {
    background-color: #cc4c02;
}
.skill-experience-value-6 {
    background-color: #8c2d04;
}

.skill-throwing-value-0 {
    background-color: #f2f0f7;
}
.skill-throwing-value-1 {
    background-color: #dadaeb;
}
.skill-throwing-value-2 {
    background-color: #bcbddc;
}
.skill-throwing-value-3 {
    background-color: #9e9ac8;
}
.skill-throwing-value-4 {
    background-color: #807dba;
}
.skill-throwing-value-5 {
    background-color: #6a51a3;
}
.skill-throwing-value-6 {
    background-color: #4a1486;
}

.skill-fitness-value-0 {
    background-color: #ffffcc;
}
.skill-fitness-value-1 {
    background-color: #d9f0a3;
}
.skill-fitness-value-2 {
    background-color: #addd8e;
}
.skill-fitness-value-3 {
    background-color: #78c679;
}
.skill-fitness-value-4 {
    background-color: #41ab5d;
}
.skill-fitness-value-5 {
    background-color: #238443;
}
.skill-fitness-value-6 {
    background-color: #005a32;
}


.skill-height-value-0 {
    background-color: #f0f9e8;
}
.skill-height-value-1 {
    background-color: #ccebc5;
}
.skill-height-value-2 {
    background-color: #a8ddb5;
}
.skill-height-value-3 {
    background-color: #7bccc4;
}
.skill-height-value-4 {
    background-color: #4eb3d3;
}
.skill-height-value-5 {
    background-color: #2b8cbe;
}
.skill-height-value-6 {
    background-color: #08589e;
}
